VITE_APPWRITE_URL=APPWRITE_URL to connect to your appwrite instance. It should be in the format of http://localhost/v1 or https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=apprwrite project id here
VITE_APPWRITE_DATABASE_ID=apprwrite database id here
VITE_APPWRITE_COLLECTION_ID=apprwrite collection id here
VITE_APPWRITE_BUCKET_ID=apprwrite bucket id here
VITE_TINYCME_API_KEY=tinycme api key here. It is a free api key that you can get from https://tinycme.com/ai-api-key